---
lang: fr
title: Conseils
layout: default.njk
---

<main>
	<header>
		{% set weekNumber = days | toWeekNumber %}
		{% if weekNumber > 0 %}
			<h3>
				<acronym title="semaines d'aménorhée">SA</acronym>
				{{ weekNumber + 2 }}
			</h3>
			<h2>Semaine {{ weekNumber }}</h2>
		{% endif %}
	</header>
	<nav>
		<a href="../../menu/">Menu</a>
	</nav>
	<section id="content">
		{{ content | safe }}
	</section>
	<footer>
		{% set previous = collections.articlesFrancaisTries | getPreviousCollectionItem %}
		{% if previous %}
			<a href="{{ previous.url | url }}" class="action secondary" id="previous">Précédent</a>
		{% endif %}
		{% set next = collections.articlesFrancaisTries | getNextCollectionItem %}
		{% if next %}
			<a href="{{ next.url | url }}" class="action primary" id="next">Suivant</a>
		{% endif %}
	</footer>
</main>

<script src="/js/swipe.js" async></script>
