---
lang: fr
title: Bienvenue
description: Conseils
---

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description }}">
	<title>{{ title }} - À bientôt bébé !</title>

	<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{ content | safe }}
</body>
</html>
