---
days: 106
daysLeft: 174
title: Bilan bucco-dentaire
description: Un bilan de suivi dentaire est proposé pendant la grossesse
---

article(class='dense')
	h2 Bilan bucco-dentaire
	p.
		Un examen avec une ou un chirurgien dentiste🩺 est recommandé durant la grossesse.
	p.
		Les changements hormonaux peuvent entrainer des inflammations des gencives et des saignements.
		Une douleur ou une infection non traitées peuvent perturber le déroulement de la grossesse.
	p.
		Cet examen permet de vérifier la bonne santé dentaire de la future maman.
		Il peut avoir lieu à partir du 4<sup>e</sup> mois.
	img(src='/assets/hi-res/dentist.png' alt='Une patiente discute avec son dentiste' width='128' height='128')
