---
daysLeft: 266
title: Nombre de semaines de grossesse
description: Le calendrier de grossesse peut être exprimé en semaines de grossesse (SG) ou en semaines d'aménorrhée (SA)
---

article(class='dense')
	h2.
		<acronym title="semaines de grossesse">SG</acronym>
		ou
		<acronym title="semaines d'aménorrhée">SA</acronym>
		?
	p.
		Le nombre de semaines de grossesse peut être exprimé de plusieurs façons&nbsp;:
	ul
		li en semaines depuis la fécondation théorique (SG)
		li en semaines depuis la date des dernières règles (SA)
	p.
		Le calcul habituellement fait est SG = SA + 2 semaines.
	p.
		<em>À bientôt bébé</em> affiche également le numéro de la semaine:
	ul
		li la 1<sup>re</sup> semaine = 2 SA = 0 SG
		li la 2<sup>e</sup> semaine = 3 SA = 1 SG
		li la 3<sup>e</sup> semaine = 4 SA = 2 SG
		li ...
	img(src='/assets/hi-res/calendar-pin.png' alt='Calendrier avec une épingle marquant la date' width='128' height='128')
