---
daysLeft: 190
title: Cours de préparation à la naissance
description: Les 7 séances de préparation à la naissance expliquent le déroulement de la grossesse, de l'accouchement et du retour à la maison
---

article(class='dense')
	h2 Cours de préparation à la naissance
	p.
		Vous pouvez bénéficier de sept séances de préparation
		tout au long de la grossesse.
	p.
		Ces séances sont animées par un professionel de santé 🩺 (médecin, sage-femme, maïeuticien).
		Chacun des parents peut y assister.
	p.
		Les points habituellement évoqués&nbsp;:
	ul
		li le déroulement de la grosssesse et de l'accouchement
		li des exercices corporels et des exercices de relaxation
		li les soins à apporter au futur bébé et son accueil à la maison
	p.
		Ces rendez-vous sont individuels ou collectifs.
		Ils sont pris en charge intégralement.
	img(src='/assets/hi-res/midwife.png' alt='Sage-femme souriante devant un groupe de futur parents' width='128' height='128')
