---
days: 141
daysLeft: 139
title: Échographie du 2e trimestre
description: L'échographie recommandée du second trimestre a lieu aux alentours de la semaine 22
---

article(class='dense')
	h2 Échographie du 2<sup>nd</sup> trimestre
	p Cet examen recommandé permet d'analyser la morphologie et vérifier la croissance du foetus.
	p L'échographie doit avoir lieu <em>avant la fin du 5<sup>e</sup> mois</em>.
	form
		ul
			li
				label <input type="checkbox"> N'oubliez pas l'ordonnance du médecin
		p Lors de l'examen, pensez à demander&nbsp;:
		ul
			li
				label <input type="checkbox"> Une attestation employeur, pour justifier d'une absence pour cet examen
	img(src='/assets/hi-res/morphology.png' alt='Un radiologiste devant un appareil d\'échographie' width='128' height='128')

