---
days: 99
daysLeft: 181
title: Entretien prénatal précoce
description: Cet entretien permet d'échanger librement avec un professionel de santé
---

article(class='dense')
	h2 Entretien prénatal précoce
	p.
		Cet discussion libre avec un professionel de santé
		permet d'évoquer les éventuelles questions, les inquiétudes et
		si besoin, les attentes en termes d'accompagnement, avant et après l'accouchement.
	p.
		Il peut être réalisé individuellement ou en couple.
	p.
		Cet entretien est pris en charge intégralement.
		Il peut avoir lieu à partir du 4<sup>e</sup> mois.
