---
daysLeft: 188
title: Inscription à la maternité
description: Les formalités administratives pour les établissements sont généralement entreprises à partir de la fin du troisième mois
---

article(class='dense')
	h2 Inscription à la maternité
	p.
		Vous devez remplir des formalités d'inscription préalables,
		si vous souhaitez accoucher dans une maternité.
	p.
		Le dossier administratif est généralement complété à la fin du 3<sup>e</sup> mois de grossesse.
	p.
		Cela peut varier suivant les établissements, renseignez-vous auprès de
		la maternité concernée.
	img(src='/assets/hi-res/nursery-ward.png' alt='Plusieurs berceaux alignés dans une maternité' width='128' height='128')
