---
daysLeft: 188
title: Inscription à la maternité
description: Les formalités administratives pour les établissements sont généralement entreprises à partir de la fin du troisième mois
---

article(class='dense')
	h2 Inscription à la maternité
	p.
		Les formalités d'inscription ont généralement lieu à la fin du 3<sup>è</sup> mois de grossesse.
	p.
		Cela peut varier suivant les établissements. Si c'est votre souhait, renseignez-vous auprès de
		la maternité concernée.
	img(src='/assets/hi-res/nursery-ward.png' alt='Plusieurs berceaux alignés dans une maternité' width='128' height='128')
