---
daysLeft: 165
title: Inscription en crèche
description: L'inscription en structure d'accueil pour la petite enfance peut se faire dès le sixième mois, voire plus tôt dans les grandes villes
---

article(class='dense')
	h2 Inscription en crèche
	p.
		Si vous choisissez ce mode de garde pour bébé, les formalités d'inscription peuvent être faites
		dès le 6<sup>è</sup> mois de grossesse &mdash; voire plus tôt lorsque les places sont peu nombreuses.
	img(src='/assets/daycare.png' alt="Groupe d'enfants sourants dans une crèche" width='256' height='256')
