---
days: 50
daysLeft: 230
title: Le coeur du bébé bat
description: On peut entendre battre le coeur du bébé a partir de la semaine 7
---

article(class='dense')
	h2 Le coeur du bébé bat
	p.
		En général, il est possible d'entendre le coeur du bébé à partir de la semaine 7 (SA 9),
		par échographie ou par ultrasons.
	p.
		Le radiologiste vous proposera habituellement d'écouter ces battements lors de l'échographie du
		1<sup>er</sup> trimestre.
	p. 
		Le coeur est complètement formé autour de la semaine 5 (SA 7).
	img(src='/assets/hi-res/beating-heart.png' alt='Un coeur qui bat du tambour' width='128' height='128')
