---
days: 162
daysLeft: 118
title: Mise à jour de la carte vitale
description: La mise à jour à partir du sixième mois permet d'activer la prise en charge intégrale des frais de santé
---

article(class='dense')
	h2 Mise à jour de la carte vitale
	p.
		A partir du 1<sup>er</sup> jour du 6<sup>e</sup> mois, l'ensemble des dépenses de
		santé est prise en charge par l'assurance maladie.
	p.
		La mise à jour de la carte vitale permet d'activer cette prise en charge &mdash;
		ce n'est pas automatique.
	p.
		Cette mise à jour est gratuite et peut être effectuée en pharmacie.
