---
days: 79
daysLeft: 201
title: Prise en charge par les organismes sociaux
description: Les Caf et Assurance Maladie offrent une prise en charge de la grossesse, si éligible
---

article(class='dense')
	h2 Prise en charge Caf et Ameli
	p.
		Les organismes sociaux offrent une prise en charge,
		sous réserve de déclaration préalable et d'élégibilité.
	p Assurance maladie (Ameli)&nbsp;:
	ul
		li remboursement des examens et des hospitalisations
		li séances de préparation à la naissance
		li congé maternité
		li prestation d'accueil du jeune enfant
	p Allocations familiales (Caf)&nbsp;:
	ul
		li prestation d'accueil du jeune enfant (prime naissance)
	p.
		Les déclarations de grossesse doivent avoir lieu avant le
		3<sup>e</sup> mois pour une prise en charge rapide.
	img(src='/assets/hi-res/benefits.png' alt='Une famille bénéficiant de la protection sociale' width='128' height='128')
