---
daysLeft: 244
title: 7 rendez-vous prénataux pendant la grossesse
description: Sept consultations médicales, environ une par par mois, veillent au bon déroulement de la grossesse
---

article(class='dense')
	h2 Examens prénataux
	p.
		Vous pouvez prendre régulièrement rendez-vous avec un professionel de santé 🩺,
		environ une fois par mois, pour le suivi de la grossesse.
	p.
		Médecin, sage-femme, maïeuticien, gynécologue peuvent effectuer ces examens
		même si, généralement à partir du 7<sup>e</sup> mois, un obstétricien y est également
		associé.
	p.
		7 consultations de suivi sont pris en charge intégralement (dont le
		1<sup>er</sup> rendez-vous médical avant le 3<sup>e</sup> mois)
	img(src='/assets/hi-res/obstetrician.png' alt='Une médecin obstétricienne' width='128' height='128')
