---
daysLeft: 91
title: Rendez-vous anesthésiste
description: Le rendez-vous avec l'anesthésiste lui permet de recueillir les informations pour une éventuelle péridurale et en cas d'urgence pendant l'accouchement
---

article(class='dense')
	h2 Rendez-vous avec l'anesthésiste
	p.
		Vous devez prendre rendez-vous avec un anesthésiste 🩺 pour un entretien préalable à l'accouchement.
	p.
		Cela permet d'échanger les informations nécessaires&nbsp;:
	ul
		li pour intervenir en cas d'urgence lors de l'accouchement
		li pour préparer une éventuelle péridurale
	p.
		Ce rendez-vous doit avoir lieu au cours du 8<sup>è</sup> mois. Il est pris en
		charge intégralement.
	img(src='/assets/anesthesist.png' alt='Médecin anesthésiste levant le pouce' width='256' height='256')
