---
days: 120
daysLeft: 160
title: Sentir bébé bouger
description: On peut sentir le foetus bouger dans le ventre à partir de la semaine 16
---

article(class='dense')
	h2 Bébé bouge dans le ventre
	p.
		En général, il est possible de ressentir les mouvements de bébé à partir de la semaine 16 (SA 18),
		pour une première grossesse.
	p. 
		Les bébés bougent spontanément très tôt, mais la future maman doit attendre quelques mois 
		avant de pouvoir ressentir ces mouvements à l'intérieur du ventre.
	p. 
		Cela peut venir plus tôt ou plus tard, en fonction du bébé. Et pour sentir ces mouvements depuis
		l'extérieur, il faudra être plus patient.
	img(src='/assets/hi-res/dancing-baby.png' alt='Un bébé qui danse en souriant' width='128' height='128')
