---
days: 140
daysLeft: 140
title: Semaine 20 (18cm)
description: Taille d'un foetus à la semaine 20 de grossesse - un martin-pêcheur
---

article
	img(src='/assets/hi-res/kingfisher.png' alt='' width='128' height='128')
	h2 Semaine 20 de grossesse
	p Bébé fait la taille d'un martin-pêcheur (environ 18cm)
