---
days: 105
daysLeft: 175
title: Semaine 15 (12cm)
description: Taille d'un foetus à la semaine 15 de grossesse
---

article
	img(src='/assets/hi-res/canari.png' alt='' width='128' height='128')
	h2 Semaine 15 de grossesse
	p Bébé fait la taille d'un canari (environ 12cm)
