---
daysLeft: 189
title: 14è semaine (8.5cm)
description: Taille d'un embryon à la quatorzième semaine de grossesse
---

article
	img(src='/assets/hi-res/mouse.png' alt='' width='128' height='128')
	h2 14<sup>è</sup> semaine de grossesse
	p Bébé fait la taille d'une souris domestique (environ 8.5cm)
