---
days: 63
daysLeft: 217
title: Semaine 9 (3cm)
description: Taille d'un foetus à la semaine 9 de grossesse
---

article
	img(src='/assets/hi-res/chouquette.png' alt='' width='128' height='128')
	h2 Semaine 9 de grossesse
	p Bébé fait la taille d'une chouquette (environ 3cm)
