---
days: 154
daysLeft: 126
title: Semaine 22 (28cm)
description: Taille d'un foetus à la semaine 22 de grossesse - un hérisson
---

article
	img(src='/assets/hi-res/hedgehog.png' alt='' width='128' height='128')
	h2 Semaine 22 de grossesse
	p Bébé fait la taille d'un hérisson (environ 28cm)
