---
days: 252
daysLeft: 28
title: Semaine 36 (47cm)
description: Taille d'un foetus à la semaine 36 de grossesse - un ananas
---

article
	img(src='/assets/hi-res/ananas.png' alt='' width='128' height='128')
	h2 Semaine 36 de grossesse
	p Bébé fait la taille d'un ananas (environ 47cm)
