---
daysLeft: 238
title: 7e semaine (4mm)
description: Taille d'un embryon à la septième semaine de grossesse
---

article
	img(src='/assets/hi-res/button.png' alt='' width='128' height='128')
	h2 7<sup>e</sup> semaine de grossesse
	p Bébé fait la taille d'un bouton de chemise (environ 12mm)
