---
days: 210
daysLeft: 70
title: Semaine 30 (39cm)
description: Taille d'un foetus à la semaine 30 de grossesse - un petit lapin
---

article
	img(src='/assets/hi-res/cottontail-rabbit.png' alt='' width='128' height='128')
	h2 Semaine 30 de grossesse
	p Bébé fait la taille d'un petit lapin (environ 39cm)
