---
days: 28
daysLeft: 252
title: Semaine 4 (2mm)
description: Taille d'un embryon à la semaine 4 de grossesse
---

article
	img(src='/assets/hi-res/apple-seeds.png' alt='' width='128' height='128')
	h2 Semaine 4 de grossesse
	p Bébé fait la taille d'un pépin de pomme (environ 2mm)
