---
days: 35
daysLeft: 245
title: Semaine 5 (4mm)
description: Taille d'un embryon à la semaine 5 de grossesse
---

article
	img(src='/assets/hi-res/pomegranate.png' alt='' width='128' height='128')
	h2 Semaine 5 de grossesse
	p Bébé fait la taille d'un grain de grenade (environ 4mm)
