---
days: 133
daysLeft: 147
title: Semaine 19 (15cm)
description: Taille d'un foetus à la semaine 19 de grossesse - une mangue
---

article
	img(src='/assets/hi-res/mango.png' alt='' width='128' height='128')
	h2 Semaine 19 de grossesse
	p Bébé fait la taille d'une mangue (environ 15cm)
