---
days: 217
daysLeft: 63
title: Semaine 31 (41cm)
description: Taille d'un foetus à la semaine 31 de grossesse - un Saint-honoré
---

article
	img(src='/assets/hi-res/saint-honore.png' alt='' width='128' height='128')
	h2 Semaine 31 de grossesse
	p Bébé fait la taille d'un gâteau Saint-honoré (environ 41cm)
