---
days: 162
daysLeft: 118
title: Semaine 23 (29cm)
description: Taille d'un foetus à la semaine 23 de grossesse - un cochon d'inde
---

article
	img(src='/assets/hi-res/guinea-pig.png' alt='' width='128' height='128')
	h2 Semaine 23 de grossesse
	p Bébé fait la taille d'un cochon d'inde (environ 29cm)
