---
days: 126
daysLeft: 154
title: Semaine 18 (14cm)
description: Taille d'un foetus à la semaine 18 de grossesse - un financier
---

article
	img(src='/assets/hi-res/financier.png' alt='' width='128' height='128')
	h2 Semaine 18 de grossesse
	p Bébé fait la taille d'un financier (environ 14cm)
