---
days: 245
daysLeft: 35
title: Semaine 35 (46cm)
description: Taille d'un foetus à la semaine 35 de grossesse - une courge musquée
---

article
	img(src='/assets/hi-res/courge-musquee.png' alt='' width='128' height='128')
	h2 Semaine 35 de grossesse
	p Bébé fait la taille d'une courge musquée (environ 46cm)
