---
days: 168
daysLeft: 112
title: Semaine 24 (30cm)
description: Taille d'un foetus à la semaine 24 de grossesse - un épi de maïs
---

article
	img(src='/assets/hi-res/corncob.png' alt='' width='128' height='128')
	h2 Semaine 24 de grossesse
	p Bébé fait la taille d'un épi de maïs (environ 30cm)
