---
daysLeft: 252
title: 5e semaine (2mm)
description: Taille d'un embryon à la cinquième semaine de grossesse
---

article
	img(src='/assets/hi-res/apple-seeds.png' alt='' width='128' height='128')
	h2 5<sup>e</sup> semaine de grossesse
	p Bébé fait la taille d'un pépin de pomme (environ 2mm)
