---
daysLeft: 245
title: 6e semaine (4mm)
description: Taille d'un embryon à la sixème semaine de grossesse
---

article
	img(src='/assets/hi-res/pomegranate.png' alt='' width='128' height='128')
	h2 6<sup>e</sup> semaine de grossesse
	p Bébé fait la taille d'un grain de grenade (environ 4mm)
