---
days: 224
daysLeft: 56
title: Semaine 32 (42,5cm)
description: Taille d'un foetus à la semaine 32 de grossesse - un chou chinois
---

article
	img(src='/assets/hi-res/chou-chinois.png' alt='' width='128' height='128')
	h2 Semaine 32 de grossesse
	p Bébé fait la taille d'un chou chinois (environ 42,5cm)
