---
days: 42
daysLeft: 238
title: Semaine 6 (4mm)
description: Taille d'un embryon à la semaine 6 de grossesse
---

article
	img(src='/assets/hi-res/button.png' alt='' width='128' height='128')
	h2 Semaine 6 de grossesse
	p Bébé fait la taille d'un bouton de chemise (environ 12mm)
