---
days: 91
daysLeft: 189
title: Semaine 13 (8.5cm)
description: Taille d'un foetus à la semaine 13 de grossesse
---

article
	img(src='/assets/hi-res/mouse.png' alt='' width='128' height='128')
	h2 Semaine 13 de grossesse
	p Bébé fait la taille d'une souris domestique (environ 8.5cm)
