---
daysLeft: 210
title: 11e semaine (4cm)
description: Taille d'un foetus à la onzième semaine de grossesse
---

article
	img(src='/assets/hi-res/hummingbird.png' alt='' width='128' height='128')
	h2 11<sup>e</sup> semaine de grossesse
	p Bébé fait la taille d'un colibri (environ 4cm)
