---
days: 7
daysLeft: 273
title: Test de grossesse
description: Un test urinaire sans ordonnance permet de confirmer la grossesse
---

article(class='dense')
	h2 Test de grossesse
	p.
		Il <em>vérifie l'existence d'une grossesse</em>, généralement par la
		détection d'une hormone spécifique dans les urines.
	p.
		Plusieurs types de tests sont disponibles, la plupart sans ordonnance.
		Les résultats peuvent être faussés si le test
		est réalisé trop tôt&nbsp;: consulter la notice.
	img(src='/assets/hi-res/pregnancy-test.png' alt='Un test urinaire de grossesse' width='128' height='128')
