---
daysLeft: 266
title: Test de grossesse
description: Un test urinaire sans ordonnance permet de confirmer la grossesse
---

article
	h2 Test de grossesse
	p.
		Il <em>vérifie l'existence d'une grossesse</em>, généralement par la
		détection d'une hormone spécifique dans les urines.
	p.
		Plusieurs types de tests sont disponibles, la plupart sans ordonnance.
	p.
		Généralement fiables, les résultats peuvent être faussés si le test
		est réalisé trop tôt (consulter la notice)

