/* https://coolors.co/f5f5f5-1d1a05-47804e-934b00-bb6b00 */
$background-color: whitesmoke;
$foreground-color: #1d1a05;
$white-color: white;
$accent1-color: #47804e;
$accent2-color: hsl(34, 100%, 33%);
$gray-color: #6d6a75;

$space-1x: 1rem;
$space-2x: 2 * $space-1x;
$space-4x: 4 * $space-1x;

* {
	font-family:
		/* https://css-tricks.com/snippets/css/font-stacks/ */
		"Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

html {
	height: 100%;
	margin: 0;
}

body {
	background-color: $white-color;
	color: $foreground-color;
	height: 100%;
	margin: 0 auto;
	max-width: 34rem;
	width: 100%;
}

main {
	background-color: $white-color;
	height: 100%;
	position: relative;
}

h1 {
	margin: 0 0 $space-1x 0;
	color: $accent2-color;
}

h2 {
	margin: 0;
	color: $accent2-color;

	small {
		color: $gray-color;
		display: block;
		font-size: small;
	}
}

section {
	padding: $space-2x;
	position: relative;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);

	&#content {
		max-height: 65%;
		max-height: calc(100vh - 14rem);
		overflow-y: auto;

		&:has(.dense) {
			transform: translateY(-52%);
		}
	}

	&#sitemap {
		max-height: 70%;
		max-height: calc(100vh - 10rem);
		overflow-y: auto;
		transform: translateY(-40%);
	}
}

form {
	height: 100%;
}

.action {
	border-radius: .75rem;
	border: solid .1rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: .25rem .5rem;
	outline-offset: .25rem;
	padding: .5rem 1rem;
	text-decoration: underline;

	&.primary {
		background-color: $accent1-color;
		border-color: transparent;
		color: $white-color;
	}

	&.secondary {
		background-color: $white-color;
		border-color: $accent1-color;
		color: $accent1-color;
	}

	&:active {
		transform: translateY(2px);
	}
}

@media (min-width: 576px) {
	body {
		background-color: $background-color;
	}

	main {
		box-shadow:
			/* https://shadows.brumm.af/ */
			0px 12.5px 10px -10px rgba(0, 0, 0, 0.035),
			0px 100px 80px -10px rgba(0, 0, 0, 0.07);
	}

	.action {
		padding: .5rem 4rem;
	}
}

p {
	margin: 0 0 $space-1x 0;
}

label {
	display: block;
	margin: 0 0 $space-1x 0;
}

input {
	accent-color: $gray-color;

	&[type="date"] {
		border-radius: .75rem;
		border: solid .1rem $gray-color;
		cursor: pointer;
		font-size: 1rem;
		margin: .5rem 0 0 0;
		padding: .5rem;
	}

	section#content & {
		accent-color: $accent2-color;
	}
}

header {
	padding: $space-1x;
	position: absolute;
}

nav {
	padding: $space-1x;
	position: absolute;
	right: 0;
}

a {
	color: $gray-color;
}

footer {
	bottom: 0;
	box-sizing: border-box;
	padding: $space-1x;
	position: absolute;
	width: 100%;

	.action {
		&.primary {
			float: right;
		}

		&.secondary {
			float: left;
		}

		&[disabled] {
			display: none;
		}
	}
}

.menu {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0 0 $space-1x 0;
	}
}

progress {
	accent-color: $accent1-color;
}

#loading,
#error {
	display: none;
}

article {
	h2 {
		color: $accent1-color;
		margin: 0 0 $space-1x 0;
	}

	&.dense {
		text-align: left;

		h2 {
			text-align: center;
		}

		ul {
			padding: 0;
			margin: $space-1x;
		}
	}
}

li {
	list-style-type: none;
	margin: 0 0 $space-1x 0;
}
