$background-color: whitesmoke;
$foreground-color: #1d1a05;
$white-color: white;
$accent1-color: #6cae75;
$accent2-color: #de9e36;
$gray-color: #6d6a75;

$space-1x: 1rem;
$space-2x: 2 * $space-1x;
$space-4x: 4 * $space-1x;

* {
	font-family:
		/* https://css-tricks.com/snippets/css/font-stacks/ */
		"Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

html {
	height: 100%;
	margin: 0;
}

body {
	background-color: $background-color;
	color: $foreground-color;
	height: 100%;
	margin: 0 auto;
	max-width: 34rem;
	width: 100%;
}

main {
	background-color: $white-color;
	box-shadow:
		/* https://shadows.brumm.af/ */
		0px 12.5px 10px -10px rgba(0, 0, 0, 0.035),
		0px 100px 80px -10px rgba(0, 0, 0, 0.07);
	height: 100%;
	position: relative;
}

h1 {
	margin: 0 0 $space-1x 0;
	color: $accent2-color;
}

h2 {
	margin: 0;
	color: $accent2-color;
}

section {
	padding: $space-2x;
	position: relative;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
}

.action {
	border-radius: .75rem;
	border: solid .1rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: .25rem .5rem;
	outline-offset: .25rem;
	padding: .5rem 4rem;
	text-decoration: underline;

	&.primary {
		background-color: $accent1-color;
		border-color: transparent;
		color: $white-color;
	}

	&.secondary {
		background-color: $white-color;
		border-color: $accent1-color;
		color: $accent1-color;
	}

	&:active {
		transform: translateY(2px);
	}
}

p {
	margin: 0 0 $space-1x 0;
}

label {
	display: block;
	margin: 0 0 $space-1x 0;
}

input[type="date"] {
	border-radius: .75rem;
	border: solid .1rem $gray-color;
	cursor: pointer;
	font-size: 1rem;
	margin: .5rem 0 0 0;
	padding: .5rem;
}

header {
	padding: $space-1x;
	position: absolute;
}

nav {
	padding: $space-1x;
	position: absolute;
	right: 0;
}

footer {
	bottom: 0;
	box-sizing: border-box;
	padding: $space-1x;
	position: absolute;
	text-align: right;
	width: 100%;

	.action {
		&#previous {
			float: left;
		}

		&[disabled] {
			display: none;
		}
	}
}

.menu {
	ul {
		margin: 0;
		padding: $space-4x 0 0 $space-4x;
	}

	li {
		list-style-type: none;
		margin: 0 0 $space-1x 0;
	}
}
