/* https://coolors.co/f5f5f5-1d1a05-47804e-934b00-bb6b00 */
$light-background-color: whitesmoke;
$light-foreground-color: #1d1a05;
$light-neutral-color: white;
$light-accent1-color: #47804e;
$light-accent2-color: hsl(34deg 100% 33%);
$light-dimmed-color: #6d6a75;

$dark-background-color: #0f1302;
$dark-foreground-color: whitesmoke;
$dark-neutral-color: #1d1a05;
$dark-accent1-color: hsl(127deg 30% 58%);
$dark-accent2-color: hsl(34deg 100% 40%);
$dark-dimmed-color: hsl(256deg 5% 66%);

$dark-mode-toggle: dark;
$grid-layout-toggle: grid;

$space-1x: 1rem;
$space-2x: 2 * $space-1x;
$space-4x: 4 * $space-1x;

* {
	box-sizing: border-box;
	font-family:
		/* https://css-tricks.com/snippets/css/font-stacks/ */
		"Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

html {
	min-height: 100%;
	min-height: 100svh;
	margin: 0;
}

body {
	background-color: $light-neutral-color;
	color: $light-foreground-color;
	min-height: 100%;
	min-height: 100svh;
	margin: 0 auto;
	max-width: 34rem;
	width: 100%;
}

main {
	background-color: $light-neutral-color;
	min-height: 100%;
	min-height: 100svh;
}

h1 {
	color: $light-accent2-color;
	margin: 0 0 $space-1x 0;
}

h2 {
	color: $light-accent2-color;
	margin: 0;
}

section {
	padding: $space-2x;
	text-align: center;
}

@media screen {
	section {
		overflow-y: auto;
	}
}

.action {
	border: solid .1rem;
	border-radius: .75rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: .25rem .5rem;
	outline-offset: .25rem;
	padding: .5rem 1rem;
	text-decoration: underline;

	&.primary {
		background-color: $light-accent1-color;
		border-color: transparent;
		color: $light-neutral-color;
	}

	&.secondary {
		background-color: $light-neutral-color;
		border-color: $light-accent1-color;
		color: $light-accent1-color;
	}

	&:active {
		transform: translateY(2px);
	}
}

@media (min-width: 576px) {
	body {
		background-color: $light-background-color;
	}

	main {
		box-shadow:
			/* https://shadows.brumm.af/ */
			0 12.5px 10px -10px rgba(0, 0, 0, 3.5%),
			0 100px 80px -10px rgba(0, 0, 0, 7%);
	}

	.action {
		padding: .5rem 4rem;
	}
}

@media (min-width: 360px) {
	img[height="128"][width="128"] {
		height: 192px;
		width: 192px;
	}
}

p {
	margin: 0 0 $space-1x 0;
}

label {
	display: block;
	margin: 0 0 $space-1x 0;
}

input {
	accent-color: $light-dimmed-color;

	&[type="date"] {
		border: solid .1rem $light-dimmed-color;
		border-radius: .75rem;
		cursor: pointer;
		font-size: 1rem;
		margin: .5rem 0 0;
		padding: .5rem;
	}

	&[type="number"] {
		border: solid .1rem $light-dimmed-color;
		border-radius: .75rem;
		font-size: 1rem;
		margin: .5rem 0 0;
		padding: .5rem;
		width: 5rem;
	}

	section#content & {
		accent-color: $light-accent2-color;
	}
}

a {
	color: $light-dimmed-color;
	outline-offset: .75rem;

	article & {
		outline-offset: 0;
	}
}

header {
	padding: $space-1x;

	a {
		color: inherit;
		text-decoration: none;
	}

	h2 {
		text-decoration: none;
	}

	h3 {
		color: $light-dimmed-color;
		font-size: small;
		margin: 0;
		text-decoration: underline;
	}
}

nav {
	padding: $space-1x;
}

footer {
	bottom: 0;
	padding: $space-1x;
	width: 100%;

	.action {
		&.primary {
			float: right;
		}

		&.secondary {
			float: left;
		}
	}
}

.menu {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		padding-left: 1.5rem;
		text-align: left;
		text-indent: -1.5rem;
	}

	section {
		margin: 0;
	}
}

progress {
	accent-color: $light-accent1-color;
}

article {
	h2 {
		color: $light-accent1-color;
		margin: 0 0 $space-1x 0;
	}

	&.dense {
		text-align: left;

		h2 {
			text-align: center;
		}

		ul {
			padding: 0;
			margin: $space-1x;
		}

		img {
			display: block;
			margin: auto;
		}
	}

	li {
		list-style-type: '\2713\0020';
		margin: 0 0 $space-1x $space-1x;

		&::marker {
			content: '\2713\0020';
			color: $light-accent1-color;
		}
	}

	form li {
		list-style-type: none;
		margin: 0 0 $space-1x 0;

		&::marker {
			content: ''
		}
	}
}

li {
	margin: 0 0 $space-1x 0;
}

.hidden,
a.hidden {
	display: none;
}

/* dark mode */

@media screen and (prefers-color-scheme: $dark-mode-toggle) {
	body {
		background-color: $dark-neutral-color;
		color: $dark-foreground-color;
	}

	main {
		background-color: $dark-neutral-color;
	}

	h1 {
		color: $dark-accent2-color;
	}

	h2 {
		color: $dark-accent2-color;

		small {
			color: $dark-dimmed-color;
		}
	}

	.action {
		&.primary {
			background-color: $dark-accent1-color;
			color: $dark-neutral-color;
		}

		&.secondary {
			background-color: $dark-neutral-color;
			border-color: $dark-accent1-color;
			color: $dark-accent1-color;
		}
	}

	@media (min-width: 576px) {
		body {
			background-color: $dark-background-color;
		}

		main {
			box-shadow: none
		}
	}

	input {
		accent-color: $dark-dimmed-color;
		background-color: $dark-neutral-color;
		color: $dark-foreground-color;

		&[type="date"] {
			border-color: $dark-dimmed-color;
		}

		section#content & {
			accent-color: $dark-accent2-color;
		}
	}

	header {
		h3 {
			color: $dark-dimmed-color;
		}
	}

	a {
		color: $dark-dimmed-color;
	}

	progress {
		accent-color: $dark-accent1-color;
	}

	article {
		h2 {
			color: $dark-accent1-color;
		}

		li {
			&::marker {
				color: $dark-accent1-color;
			}
		}
	}

	img {
		opacity: .75;
		transition: opacity .25s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}
}

/* layout */

header {
	float: left;
	width: 80%;
}

nav {
	float: right;
}

section {
	clear: both;
}

footer {
	clear: both;
}

@supports (display: $grid-layout-toggle) {
	@media screen {
		main {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-rows: auto auto 1fr;

			>* {
				float: initial;
			}
		}

		header {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		nav {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		section {
			grid-column: 1/3;
			grid-row: 2/3;
			margin: auto;
		}

		footer {
			grid-column: 1/3;
			grid-row: 3/4;
		}
	}
}
