---
title: Carte du site
---

<main>
	<header>
		<h1>Carte du site</h1>
	</header>
	<nav>
		<a href="../menu/">Menu</a>
	</nav>
	<section id="sitemap">
		<img src="/assets/hi-res/map.png" alt="" width='128' height='128'/>
		<h2>Tous les articles</h2>
		<article class="dense">
			<ul>
				{% set previousWeekNumber = "" %}
				{% for item in collections.articlesFrancaisTries %}
					{% set weekNumber = item.data.days | toWeekNumber %}
					{% if weekNumber != previousWeekNumber %}
					</ul>
					{% if weekNumber > 0 %}
						<h2>
							Semaine {{ weekNumber }}
							<small>(SA {{ weekNumber - 2 }})</small>
						</h2>
					{% endif %}
					<ul>
						{% set previousWeekNumber = weekNumber %}
					{% endif %}
					<li>
						<a href="{{ item.url | url }}">{{ item.data.title }}</a>&nbsp;: {{ item.data.description }}
					</li>
				{% endfor %}
			</ul>
		</article>
	</section>
</main>
